.sidebar {
    width: 200px;
    z-index: 1;
    float: top;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
    margin-left: 20px;
    margin-top: 20px;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
}

.sidebar a:hover {
    color: #064579;
}

.main {
    margin-left: 210px;
    padding: 0px 10px;
}

@media (max-width: 800px) {
    .sidebar {
        display:none !important;
    }
}
